# Mount debugfs on /sys/kernel/debug.
allow init debugfs:dir mounton;

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

allow init block_device:lnk_file { setattr };
allow init tmpfs:lnk_file create_file_perms;

# /data
allow init sdcardd_exec:file r_file_perms;

# sysfs iio:device[0-9]
allow init sysfs:lnk_file setattr;

# read/chown mDNIE symlinks
allow init sysfs_mdnie_writable:lnk_file { read setattr };

allow init cache_file:dir mounton;
allow init efs_file:dir mounton;
allow init node:tcp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init self:tcp_socket { bind create };
allow init shell_exec:file execute_no_trans;
allow init socket_device:sock_file create;
allow init storage_file:dir mounton;
allow init system_data_file:fifo_file write;
allow init system_data_file:file lock;
allow init system_file:file execute_no_trans;
